.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.heading {
  color: white;
  text-shadow: 2px 2px 2px black;
}
