.list-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.list-card-title {
  color: $light-gray;
  font-size: 36px;
  text-shadow: 2px 2px 2px black;
}

.card {
  background-color: white;
}
